body {
    background-color: rgb(255,255,255);
}
h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 44;
}

.table {
  position: absolute;
  font-size: 150%;
  width: 480px;
  height: 200px;
  z-index: 15;
  top: 20%;
  left: 50%;
  margin: -100px 0 0 -150px;
  background: rgb(255,255,255);
  }
